.container__quicklink-accessory {
  .quicklink {
    background-color: transparent;
    margin-top: 0;
    div {
      max-width: 100%;
      grid-template-columns: repeat(10, minmax(0, 1fr));
    }
    a {
      border-radius: 4px;
      border: 1px solid #e0e0e0;
    }
  }
}
